*.dll

# Compression files
*.zip
*.rar
*.7z
*.bz2

/Atom2D/nbproject/private/
/AtomCore/nbproject/private/
/AtomEditor/nbproject/private/
/AtomPar/nbproject/private/
/AtomScripting/nbproject/private/
/AtomCore/build/
/AtomDB/nbproject/private/
/AtomCore/dist/
/AtomEditor/build/
/AtomEditor/dist/
/Atom2D/build/
/Atom2D/dist/
/AtomScripting/build/
/AtomScripting/dist/
/Atom2DEditor/nbproject/private/

/Atom2DEditor/build/
/Atom2DEditor/dist/

#Images file
*.png
*.gif
*.jpg
*.psd

# Tiled files
